* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    padding: 0 !important;
    margin: 0 !important;
}

@font-face {
    font-family: font;
    src: url(../fonts/NotoSansTC-Regular.otf);
}



#nav-area .my-container {
    width: 90%;
    height: 85px;
    margin: auto;
    position: relative;
}

#nav-area .logo {
    position: absolute;
    top: 15px;
    left: 15px;
}

#nav-area .my-navbar {
    justify-content: center;
}

#nav-area .my-navbar .nav-hover:hover {
    color: #28aab3;
}

#nav-area .my-navbar ul {
    padding: 10px;
    gap: 15px;
}

#nav-area .my-navbar ul li {
    font-size: 20px;
    font-family: font;
}

#nav-area .my-navbar ul li .my-link {
    color: #b5c922;
}

#nav-area .icons {
    position: absolute;
    right: 50px;
    top: 10px;
    display: flex;


}

#nav-area .icons a {
    font-size: 30px;
    padding: 15px;
    color: black;

}

#nav-area .icons a i:hover {
    color: #28aab3;
}

#nav-area .heart {
    position: relative;
    top: 13px;
}

#nav-area .basket {
    position: relative;
    top: 13px;
}

#nav-area .count-heart {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 25px;
    right: 35px;

}

#nav-area .count-basket {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 25px;
    right: 40px;
}
#nav-area .icons span {
    color: white;
    position: absolute;
    left: 5px;
    bottom: -2px;
}

#promotion {
    width: 100%;
    position: relative;
}

#promotion .image img {
    width: 100%;
    height: 650px;
   
   
}

#promotion .image {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
 
  
}

#promotion .image .info {
    width: 450px;
    height: 150px;
    position: absolute;
    left: 120px;
    top: 170px;

}

#promotion .first-words {
    display: flex;
    gap: 12px;

}

#promotion .first-words h1 {
    font-size: 65px;
    font-weight: bold;
}

#promotion .second-words {
    display: flex;
    gap: 10px;
}

#promotion .second-words h1 {
    font-size: 65px;
    font-weight: bold;
}

#promotion .change-color {
    color: #33CAD5;
}

#promotion .button {
    width: 140px;
    height: 47px;
    border-radius: 25px;
    margin-top: 40px;
    padding-top: 11px;
    background-color: #33CAD5;
    text-align: center;
    cursor: pointer;
}

#promotion .button a {
    text-decoration: none;
    font-size: 14px;
    font-family: font;
    color: white;
}

#promotion .button:hover {
    background-color: black;
    transition: 0.3s;
    color: white;
}


#promotion .slide {
    width: 58px;
    height: 28px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    bottom: 40px;

}

#promotion .slide .slide1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #33CAD5;
    margin-top: 6px;
    margin-left: 8px;
}

#promotion .slide .slide2 {
    width: 5px;
    height: 6px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 40px;
    background-color: black;
}

#information .my-container {
    width: 90%;
    height: 85px;
    background-color: white;
    margin: auto;
    position: relative;
}

#information .shipping {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

#information .support {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

#information .back-money {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

#information .win {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

#information .icon,
i {
    font-size: 35px;
    color: #9DA7AF;
}

#information .info p {
    color: black;
}

#information .info {
    margin-top: 5px;
}

#information .info p {
    margin-top: -6px;
}

#products .my-container {
    width: 90%;
    height: 85px;
    background-color: #fafafa;
    margin: auto;
    position: relative;
}

#products .my-container h3 {
    padding-top: 50px;
}

#products .background {
    width: 100%;
    height: 900px;
    background-color: #fafafa;
    padding-top: 100px;
}

#products .general-hover img {
    width: 320px;
    height: 396px;
    position: absolute;
    top: 150px;
    
}
#products .general-hover img:nth-child(2){
    display: none;
}
#products .general-hover:hover img:nth-child(2){
    display: block;
   
   
}
#products .general-hover:hover img:nth-child(1){
    display: none;
    
}
#products .general-hover{
  border-radius: 10px;
}


.price button:nth-child(2){
    display: none;
}
.price:hover button:nth-child(2){
    display: block;
}
.price:hover .price-star:nth-child(1){
    display: none;
    transition: all 0.5s;
}
#products .price{
    display: flex;
    position: relative;
    justify-content: center;
   
}


#products .general-hover button {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    padding-top: 7px;
    position: absolute;
    background-color:#33CAD5;
    border: none;
    cursor: pointer;
   
}
#products button a{
    text-decoration: none;
    color: white;
}

#products button:hover{
    background-color: black;
}

#products .general-hover .about {
    width: 320px;
    height: 160px;
    background-color: white;
    position: absolute;
    top: 546px;
    padding-top: 30px;
    left: 15px;
    text-align: center;
}

#products .background span {
    color: grey;
}

#products .background p {
    color: black;
    cursor: pointer;
}



#products .background i {
    color: gold;
    font-size: 18px;
}

#products .background .product-name:hover {
    color: #33CAD5;
}

#second-products .my-container {
    width: 90%;
    height: 85px;
    background-color: #fafafa;
    margin: auto;
    position: relative;
}

#second-products .background2 {
    width: 100%;
    height: 690px;
    background-color: #fafafa;
    padding-top: 40px;
}
#second-products img{
    border-radius: 10px;
    transition: .5s;

}


#second-products .info-one{
    overflow: hidden;
    border-radius: 10px;
}
#second-products .info-two{
    overflow: hidden;
    border-radius: 10px;
}
#second-products .info-three{
    margin-top: 45px;
    overflow: hidden;
    border-radius: 10px;
}
#second-products .info-four{
    overflow: hidden;
    border-radius: 10px;
}
#second-products .info-five{
    margin-top: 45px;
    overflow: hidden;
    border-radius: 10px;
}

#second-products img:hover{
    transform: scale(1.1);
    transition: .5s;
}
#second-products .product-one img {
   
    height: 100%;
    width: 100%;
}

#second-products .about-one {
    position: absolute;
    bottom: 110px;
    left: 260px;
}

#second-products .about-one h1 {
    font-size: 60px;
}

#second-products .about1 h5 {
    font-size: 25px;
}

#second-products .about-one h1,
h5 {
    color: white;
}

#second-products .info-one button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 50px;
    left: 260px;
    background-color: white;
    border: none;
    cursor: pointer;
}
#second-products button a{
    text-decoration: none;
}

#second-products .background2 button:hover{
    background-color: black;
    transition: 0.3s;
    
}

#second-products button:hover span {
    color: white;
    transition: 0.3s;
}

#second-products button span {
    color: black;
}

#second-products .about-two {
    position: absolute;
    bottom: 390px;
    left: 70px;
}

#second-products .info-two button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 335px;
    left: 70px;
    background-color: white;
    border: none;
    cursor: pointer;

}

#second-products .about-three {
    position: absolute;
    bottom: 120px;
    left: 240px;
}

#second-products .info-three button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 55px;
    left: 240px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#second-products .about-four {
    position: absolute;
    bottom: 375px;
    right: 250px;
}

#second-products .about-four h1 {
    font-size: 35px;
    color: white;
}

#second-products .about-four h5 {
    font-size: 25px;
}

#second-products .info-four button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 315px;
    right: 270px;
    background-color: white;
    border: none;
    cursor: pointer;

}
#second-products .about-five {
    position: absolute;
    bottom: 85px;
    right: 10px;
}

#second-products .about-five h1 {
    font-size: 35px;
    color: white;
}

#second-products .about-five h5 {
    font-size: 25px;
}

#second-products .info-five button {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    right: 85px;
    background-color: white;
    border: none;
    cursor: pointer;

}
#stay .my-container {
    width: 90%;
    background-color: white;
    margin: auto;
    position: relative;
}

#stay .info {
    margin-top: 125px;
}

#stay .info p {
    color: black;
    padding-top: 50px;
}

#stay .pictrue {
    margin-top: 100px;
}

#important .my-container {
    width: 90%;
    background-color: white;
    margin: auto;
    position: relative;
}

#important h3 {
    margin-top: 100px;
}

#important .pictrue {
    width: 319px;
    height: 230px;
    margin-top: 50px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#important .pictrue img {
    position: absolute;
}

#important .pictrue h6 {
    position: absolute;
    bottom: 10px;
}

#important .pictrue {
    box-shadow: 5px 5px 10px 10px #cfcdca;
}

#latest .my-container {
    width: 90%;
    background-color: white;
    margin: auto;
    position: relative;
}

#latest {
    background-color: #FAFAFA;
    height: 650px;
}

#latest .background {
    width: 100%;
    height: 500px;
    margin-top: 90px;
    background-color: #FAFAFA;
}
#latest .header {
    width: 271px;
    height: 45px;
}
#latest .header h3 {
    margin-top: 100px;
}



#latest img {
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#latest .image-hover{
    width: 436px;
    height: 254px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 10px;
}
#latest img:hover{
   transform: scale(1.1);
   transition: .5s;
  
}




#latest a{
    text-decoration: none;
}
#latest .calendar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#latest .calendar .icon i,
p {

    color: #C4C4C8;
    font-size: 15px;
}

#latest h5 {
    text-align: center;
    margin-top: 20px;
    color: black;
}

#latest .header h3:hover {
    color: #55d5de;
}

#latest .background h5:hover {
    color: #33CAD5;
}

#purchase {
    background-color: #55d5de;
    height: 120px;
   
}

#purchase .my-container {
    width: 90%;
    margin: auto;
    position: relative;
}

#purchase .icon-about {
    width: 100%;
    height: 120px;
    gap: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: -70px;

}

#purchase .icon-about .about i {
    position: absolute;
}

#purchase .icon-about i {
    font-size: 45px;
    color: white;
}

#purchase .icon-about .about h4,
span {
    color: white;
    gap: 10px;
}

#purchase button {
    width: 135px;
    height: 45px;
    border-radius: 30px;
    margin-top: 40px;
    background-color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}

#purchase button:hover{
    background-color: black;
    transition: 0.3s;
}
#purchase button:hover span{
    color: white;
    transition: 0.3s;
}
#purchase button a {
    text-decoration: none;
}
#purchase button span{
    color: black;
}



#address .my-container {
    width: 90%;
    margin: auto;
    position: relative;
}

#address .about-as {
    margin-top: 50px;
}

#address .position {
    margin-top: 25px;
}

#address .about-as h5 {
    color: black;
}

#address .about-as p {

    color: black;
}

#address .contact-info {
    margin-top: 50px;
    margin-left: 5px;
}

#address .contact-info h5 {
    color: black;
}

#address .contact-info p {
    color: black;
}

#address .contact-info a {
    color: black;
    text-decoration: none;
}

#address .contact-info a:hover {
    color: #33CAD5;
}

#address .link {
    margin-top: 50px;
    margin-left: 10px;
}

#address .link h5 {
    color: black;
}

#address .link a {
    color: black;
    text-decoration: none;
}

#address .link a:hover {
    color: #33CAD5;
}

#address .social {
    margin-top: 50px;
    position: relative;
}

#address .social h5 {
    color: black;
}

#address .icon-first-row,
.icon-second-row {
    display: flex;
}

#address .position .icon {
    width: 45px;
    height: 45px;
    background-color: #F7F7F7;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

#address .position .icon:hover {
    background-color: #33CAD5;
    transition: 0.3s;

}

#address .position .icon:hover i {
    color: white;
}
#address .position .icon i {
    position: absolute;
    color: #33CAD5;
    font-size: 25px;
}

#address .letter {
    margin-top: 50px;
}

#address .letter h5 {
    color: black;
}

#address input {
    width: 250px;
    height: 50px;
    background-color: #F7F7F8;
    padding-left: 20px;
    border: none;
    outline: none;
}

#address input placeholder {
    color: #BBBBBC;
}

#address .button {
    width: 180px;
    height: 45px;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 10px;
    background-color: #33CAD5;
    text-align: center;
    cursor: pointer;

}

#address .button:hover {
    background-color: black;
    transition: 0.3s;
}

#address .button a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

#address .letter {
    width: 330px;
    height: 300px;
    position: relative;

}

#address .letter button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EFEFEF;
    border: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

#address .letter button i {
    color: black;
    position: absolute;
}
#address .letter button:hover {
    background-color: black;
    transition: 0.3s;
}
#address .letter button:hover i{
    color: white;
    transition: 0.3s;
}
#fotter-logo .my-container {
    width: 90%;
    height: 85px;

    margin: auto;
}

#fotter-logo .main-logo {
    position: absolute;
    top: 30px;
}

#fotter-logo .company-logo {
    display: flex;
    position: absolute;
    top: 40px;
}

#fotter-logo .company-logo .logo {
    margin-left: 35px;
}

#fotter-logo .company-logo .logo i {
    width: 50px;
    color: black;
}

#fotter-logo .company-logo .logo i:hover {
    color: #33CAD5;
}

#fotter-logo .company-logo p {
    margin-left: 35px;
    margin-top: 7px;
    color: black;
}

#fotter-logo .company-logo a {
    color: black;
    text-decoration: none;
}

#fotter-logo .company-logo a:hover {
    color: #33CAD5;
}

    
